.roadmap_area{
    position: relative;
    z-index: 99;
}
.all_content_block > div {
    text-align: left;
    margin-bottom: 30px;
}

.all_content_block > div h4 {
    margin-bottom: 25px;
    color: #fff;
}

.all_content_block > div h5 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 16px;
}

.all_content_block > div ul {
    display: flex;
    margin: 25px 0;
    flex-direction: column;
    gap: 10px;
}
.allPhase{
    gap: 25px ! IMPORTANT;
}
.allPhase li {
    line-height: 22.2px;
}
.roadmap_title > h1{
    padding: 0px 0px 30px 50px;
}







/* Big screen :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal screen :992px. */
@media (min-width: 992px) and (max-width: 1200px) {


}

 
/* Tablet screen :768px. */
@media (min-width: 768px) and (max-width: 991px) {

    .roadmap_title > h1{
        padding: 0px 0px 30px 0px;
        text-align: center;
    }

}

 
/* small screen :320px. */
@media (max-width: 767px) {

    .roadmap_title > h1{
        padding: 0px 0px 30px 0px;
        text-align: center;
    }
}
