.copyAddress{
    display: flex;
    border: 1px solid #6cff92;
    max-width: 500px;
    border-radius: 5px;
    overflow: hidden;
}
.copyAddress button {
    background: #6cff92;
    padding: 7px 15px;
    color: #000;
    letter-spacing: 2px;
}

.copyAddress input {
    width: 100%;
    font-size: 85%;
    border: none;
    background: none;
    outline: none;
    color: #fff;
    pointer-events: none;
    padding: 0 15px;
    letter-spacing: 0.25em;
}











/* Big screen :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal screen :992px. */
@media (min-width: 992px) and (max-width: 1200px) {


}

 
/* Tablet screen :768px. */
@media (min-width: 768px) and (max-width: 991px) {


}

 
/* small screen :320px. */
@media (max-width: 767px) {

 
}
 
/* Large Mobile screen :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 
}
